<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/utilisateur.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/avisUtilisateur.css">
    <script src="../static/avisUtilisateur.js"></script>
    <script src="../static/topBarMenu.js"></script>
</head>
<body>
<div id="div2"></div>

<div id="div1"></div>



<script>

fetch('../static/topBarMenu.html')
  .then(response => response.text())
  .then(data => {
    document.getElementById('div2').innerHTML = data;
    manageButtonsDisplay();
  });

fetch('../static/utilisateur.html')
  .then(response => response.text())
  .then(data => {
    document.getElementById('div1').innerHTML = data;
    get_all_ville();
  });



</script>

</body>
</html>