<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/register.js"></script>
    <script src="../static/loginClient.js"></script>
</head>
<body>

<div id="div1"></div>
<div id="div2"></div>

<script>
fetch('../static/topBarMenu.html')
  .then(response => response.text())
  .then(data => {
    document.getElementById('div1').innerHTML = data;
  });

fetch('../static/loginClient.html')
  .then(response => response.text())
  .then(data => {
    document.getElementById('div2').innerHTML = data;
  });

fetch('../static/register.html')
  .then(response => response.text());

</script>

<style>
    #div2 {
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
    }
</style>

</body>
</html>